* {
  font-family: "Noto Sans", sans-serif;
}

body {
  background-color: #353537;
  margin: 0;
}

h1 {
  text-align: center;
  color: white;
  line-height: 1.1;
  padding: 20px 0;
  background: steelblue;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
}

.bar {
  text-align: center;
  height: 40px;
  background-color: white;
  color: black;
}

.bar-item {
  vertical-align: middle;
  background: none;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  height: 100%;
  color: steelblue;
  letter-spacing: 2px;
  font-size: inherit;
  outline: none;
}

.bar-button:hover {
  background: steelblue !important;
  color: white;
  border: none;
}

.naslov {
  background-color: #0043af;
}

.selected {
  background: steelblue;
  color: white;
}

#container {
  margin: 20px auto;
  max-width: 700px;
  
}

#slika1{
  display: inline;
  float: left;
  margin-left: 20px;
  margin-top: 20px;
}

#slika2{
  display: inline;
  float: right;
  margin-right: 80px;
  margin-top: 280px;
}

.square {
  width: 100px;
  height: 50px;
  margin: 1.66px;
  padding-bottom: 50px;
  border-radius: 25px;
  position: fixed;
}

#message {
  display: inline-block;
  width: 20%;
}

#colorDisplay {
  font-size: 200%;
}

#btnPlay {
  background-color: sienna;
  color: white;
}

#scoreboardTable {
  color: white;
  font-weight: 600;
}

#intro{
  width: 100%;
  max-height: 100%;
  align-content: center;
  margin-top: auto;
}
